$mainBg:#0B0C10;
$secondBg:#121212;

$borderColor:#66FCF1;
$sectionBorder:#363636;
$textColor:#FFFFFF;
$hoverColor:#38908A;
$global-font-family:'Poppins', sans-serif;
$text-font-family: 'Roboto', sans-serif;
